<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <!-- <li>
                        <a href="chart.html">
                            <i class="fas fa-chart-bar"></i>Charts</a>
                    </li> -->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>Admin</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/addAdmin">Add New Admin</a>
                        </li>
                        <li>
                            <a href="/admin/displayAdmin">Display Admin</a>
                        </li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>Category</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/category/addCategory">Add New Category</a>
                        </li>
                        <li>
                            <a href="/category/displayCategory">Display Category</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>Sub-Category</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/subCategory/addSubCategory">Add New Sub-Category</a>
                        </li>
                        <li>
                            <a href="/subCategory/displaySubCategory">Display Sub-Category</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>Product</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/product/addProduct">Add New Product</a>
                        </li>
                        <li>
                            <a href="/product/displayProduct">Display Product</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>Country</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/country/addCountry">Add New Country</a>
                        </li>
                        <li>
                            <a href="/country/displayCountry">Display Country</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>State</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/state/addState">Add New State</a>
                        </li>
                        <li>
                            <a href="/state/displayState">Display State</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>City</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/city/addCity">Add New City</a>
                        </li>
                        <li>
                            <a href="/city/displayCity">Display City</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>Area</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/area/addArea">Add New Area</a>
                        </li>
                        <li>
                            <a href="/area/displayArea">Display Area</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>User</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/user/addUser">Add New User</a>
                        </li>
                        <li>
                            <a href="/user/displayUser">Display User</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-circle"></i>FAQ</a>
                    <ul class="navbar__sub-list js-sub-list">
                        <li>
                            <a href="/faq/addFaq">Add New FAQ</a>
                        </li>
                        <li>
                            <a href="/faq/displayFaq">Display FAQ</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="table.html">
                        <i class="fas fa-table"></i>Tables</a>
                </li>
                <!-- <li>
                        <a href="#">
                            <i class="fas fa-calendar-alt"></i>Calendar</a>
                    </li>
                    <li>
                        <a href="map.html">
                            <i class="fas fa-map-marker-alt"></i>Maps</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-copy"></i>Pages</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                            <li>
                                <a href="register.html">Register</a>
                            </li>
                            <li>
                                <a href="forget-pass.html">Forget Password</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-desktop"></i>UI Elements</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="button.html">Button</a>
                            </li>
                            <li>
                                <a href="badge.html">Badges</a>
                            </li>
                            <li>
                                <a href="tab.html">Tabs</a>
                            </li>
                            <li>
                                <a href="card.html">Cards</a>
                            </li>
                            <li>
                                <a href="alert.html">Alerts</a>
                            </li>
                            <li>
                                <a href="progress-bar.html">Progress Bars</a>
                            </li>
                            <li>
                                <a href="modal.html">Modals</a>
                            </li>
                            <li>
                                <a href="switch.html">Switchs</a>
                            </li>
                            <li>
                                <a href="grid.html">Grids</a>
                            </li>
                            <li>
                                <a href="fontawesome.html">Fontawesome Icon</a>
                            </li>
                            <li>
                                <a href="typo.html">Typography</a>
                            </li>
                        </ul>
                    </li> -->
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->